.cover-img {
  width: 650px;
  height: 570px;
  margin: 50px 50px 0px 0px;
}

.guild-title {
  font-style: italic !important;
  line-height: 40px !important;
  font-weight: 200 !important;
  font-family: "Cormorant Garamond";
  color: #000;
  font-size: 40px;
  margin: 0px 0px 0px 5px;
}

.guild-description {
  color: #000;
  line-height: 1.8;
  padding: 10px;
  margin: 10px 110px 0px 0px;
}
